@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.kapakana-600 {
  font-family: "Kapakana", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  overflow-x: hidden;
}
